<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='../css/style.css' />
</head>
<body>
  <ul class="navbox nav">
    <li><a href="home">Home</a></li>
    <li><a href="messages">Messages</a></li>
  </ul>

  <div class="box" id="welcome">
    <h1>Welcome to Meg's Bulletin Board</h1>
    <h4>Please leave a detailed message below</h2>
  </div>


  <div class="form">
  <form action="/messages" method="post">
      <label for="title">Subject</label>
      <input type="text" name="title">
    <br><br>
      <label for="body">Message</label>
      <input type="text" name="body" class="body">
    <br><br>
      <input type="submit" value="Add Message">
  </form>
  </div>


</body>
</html>
